td,body,input,select {
	font-size: 12px;
	font-family: "arial","宋体";
	color:#f5edb8;
	line-hight:16pix;
	background-image: url(./bg.jpg);
} 

body{SCROLLBAR-FACE-COLOR:#805335;
SCROLLBAR-HIGHLIGHT-COLOR:#e0b993;
SCROLLBAR-SHADOW-COLOR:#3a1b11;
SCROLLBAR-3DLIGHT-COLOR:#e0b993;
SCROLLBAR-ARROW-COLOR:#ded5ae;
SCROLLBAR-TRACK-COLOR:#805335;
SCROLLBAR-DARKSHADOW-COLOR:#3a1b11;
SCROLLBAR-BASE-COLOR:#7f7755;}

A:link {font-size:12px;text-decoration: underline; color: #f5edb8}
A:visited {font-size:12px;text-decoration: underline; color: #f5edb8}
A:active {font-size:12px;text-decoration: underline}
A:hover {font-size:12px;text-decoration:none; color: #f5edb8}

.ArtTitle{font-size: 12px;color:#ffffff;font-weight: bold;}
